html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
a {
    text-decoration: none;
    color: #000;
}
.header {
    display: flex;
    background-color: aqua;
    height: 30px;
    align-items: center;
    margin-bottom: 5px;
}
.bosluk {
    margin-right: 20px;
}
.baslik {
    margin-left: 5px;
    font-weight: bold;
}
.tum_kitaplar {
    width: 100%;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.kitap {
    width: 159px;
    height: 250px;
    border: 1px solid #000;
    margin-right: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
}
.ust {
    width: 100%;
    height: 180px;
    border-bottom: 1px solid #000;
}
.alt {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.fiyat {
    margin-top: 2px;
    margin-bottom: -1px;
}
.yayinlar {
    display: flex;
    margin-bottom: 5px;
}
.yayinevleri {
    border: 1px solid #000;
    border-radius: 2px;
    margin-right: 5px;
}
.ay {
    margin-left: 5px;
}
.buton {
    width: 100px;
    height: 20px;
    position: absolute;
    right: 15px;
    top: 5px;
    background-color: orange;
    border: 1px solid #000;
    border-radius: 6px;
    cursor: pointer;
}
.margin {
    margin-left: 5px;
}
.container_filtreleme {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*input {
    width: 150px;
    height: 20px;
    margin-bottom: 10px;
}*/
.giris {
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 37%;
}
/*button {
    width: 159px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    border: 1px solid #000;
    border-radius: 8px;
}*/

.kitap_container {
    display: flex;
}
.form {
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #000;
    position: sticky;
}
.adminform {
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
}
.hheader {
    display: flex;
    background-color: orange;
    height: 30px;
    align-items: center;
    margin-bottom: 5px;
}
.container_filtreleme_kontrol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15px;
}
.eklesil {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 30px;
    width: 50xp;
    border-radius: 3px;
    cursor: pointer;
}
.sil {
    background-color: red;
}
.ekle {
    background-color: greenyellow;
}
.butonlar {
    margin-left: 5px;
    margin-bottom: 5px;
}
.button_div {
    visibility: visible;
    width: 72px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: red;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 3px;
    left: 3px;
    cursor: pointer;
}
.buton_kitap {
    display: flex;
    justify-content: center;
}
.butonlar_gizli {
    visibility: visible;
}
.button_duzenle {
    visibility: visible;
    width: 72px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: orange;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 3px;
    right: 3px;
    cursor: pointer;
}
.flex {
    display: flex;
}
.container_filtreleme_login {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.button_login {
    width: 159px;
    height: 20px;
    background-color: orange;
    border: 1px solid #000;
    border-radius: 8px;
}
.adminform {
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.form_kontrol {
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #000;
    position: sticky;
}
.container_filtreleme_kontrol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15px;
    margin-top: 10px;
}
.arama_form {
    display: flex;
    align-items: center;
    margin-left: 20%;
}
.arama_input {
    height: 20px;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
.arama_buton {
    background-color: gray;
    height: 26px;
    width: 40px;
    border-radius: 0;
    cursor: pointer;
}
