<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" type="text/css" href="../public/adminLogin.css"/>
    <link rel="icon" href="../public/favicon2.ico" type="image/x-icon">
</head>
<body>
    <h1>Admin Giriş Sayfası</h1>
    <form method="POST" action="/login">
        <label for="password">Şifre:</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Giriş Yap</button>
    </form>
</body>
</html>
